*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: linear-gradient(90deg, #07c972, #359d9e);
  height: 8vh;
}
:root {
  --cor-fundo: (90deg, #07c972, #359d9e);
  --cor-hover: rgb(40, 122, 74);
  --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
}

.dp-menu ul {
  background-color: var(--cor-fundo);
}

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background .3s;
}

.dp-menu ul li a:hover {
  background-color: var(--cor-hover);
}

.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  width: 150px
}

.dp-menu ul ul li a {
  display: block;

}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}
.tittle1 {
  color: antiquewhite;
}

main {
  background: url(../imagens/peso-saludable-foto-freepik.jpeg) no-repeat center center;
  background-size: cover;
  height: 92vh;
}


.footer{
    background: linear-gradient(90deg, #07c972, #359d9e);
    color: #fff;
  }